[viewBag]
==
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{this.page.meta_title}}</title>
    <meta name="keywords" content="" />
    <meta name="robots" content="index" />
    <meta name="description" content="{{ this.page.meta_description}}">
    <meta property="og:title" content="{{this.page.meta_title}}" />
    <meta property="og:description" content="{{this.page.meta_description}}" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href={{'assets/css/core.css'|theme}} rel="stylesheet">
    {% styles %}
</head>
