.about {

    > div {
        &:last-child {
            display: flex;

            img{
                padding-top:40px;
            }
        }
    }

    @include media-breakpoint-up('lg') {
        padding-top: 150px;

        .about-info {
            display: flex;
            justify-content: space-around;
            width: 100%;

            > div{
                &:first-child{
                    width: 50%;
                }
            }
        }
    }
}
