.btn {
    font-family: $mainfont;
    padding: 10px 20px;
    transition: all .2s ease;
    border:none;
    &.btn-primary {
        background: $secondarycolor;
        color: white;
    }

    &.btn-secondary {
        background: $fontcolor;
        color: white;
    }

    &:hover {
        opacity: .8;
        transition: all .2s ease;
    }
}

.btn-group {
    padding-top:10px;
    .btn {
        @include media-breakpoint-up('md') {
            &:first-child {
                margin-right: 10px;
            }
        }
    }
}
