.content {
    color: $fontcolor;
    text-align: center;

    > .container {
        max-width: 60%;
    }

    .h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }

    p {
        line-height: 3rem;
        font-weight: 400;
    }
}

.two-sided-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content-block {
        width: 50%;
        margin-right: 40px;
        font-size: 1.8rem;

        p {
            color: $fontcolor;
        }

        .button-wrapper {
            padding-top: 30px;

            a {
                i {
                    position: relative;
                    left: 5px;
                    transition: all .2s;
                }

                &:hover {
                    i {
                        left: 15px;
                        transition: all .2s;
                    }
                }
            }
        }
    }

    .content-image {
        width: 40%;
        max-width: 500px;
    }
}
