.contact {
    padding-top: 130px;
    padding-bottom: 0;

    > .container {
        padding-bottom: 80px;
    }

    .contact-data {
        max-width:1100px;
        div {
            padding-bottom: 5px;

            li {
                margin-bottom: 10px;

                i {
                    margin-right: 10px;
                    font-weight: 900;
                    color: $fontcolor;
                }
            }
        }
    }


    @include media-breakpoint-up('md') {
        .contact-data {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            div {
                padding-bottom: 0;
            }
        }
    }
}
