footer {
    background: $white2;
    padding: 40px 0 0 0;
    color: $fontcolor;

    .h2 {
        font-size: 2.6rem;
    }

    .socialmedia {
        padding: 40px 0;

        ul {
            display: flex;

            i {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3rem;
                margin-right: 10px;
                color: white;
                width: 60px;
                height: 60px;
                border-radius: 100%;

                &.fa-facebook {
                    background: #3b5998;
                }

                &.fa-instagram {
                    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
                }
            }
        }
    }

    .end {
        margin-top: 40px;
        background: $secondarycolor;
        padding: 15px 0;

        > .container {
            display: flex;
            align-items:center;
            justify-content: space-between;
        }

        ul {
            display: flex;
            font-family: $specialfont;
            margin:0;
            li {
                color: white;
                padding-right: 15px;

                a {
                    color: white;
                }
            }
        }
    }

    @include media-breakpoint-up('md') {

        > .big-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
        }

        .contact-form {
            order: 1;
        }

        .socialmedia {
            order: 3;
            padding: 0;
        }

        .logo {
            order: 2;
        }
    }

    @include media-breakpoint-up('lg') {
        > .big-container {
            justify-content: space-around;
            align-items: flex-start;
        }

        .contact-form, .logo, .socialmedia {
            order: initial;
            margin: 0 auto;
        }

        .logo {
            margin: 20px auto;
        }
    }
}
