form {
    .input-wrapper {
        display: flex;
        width: 100%;

        input {
            margin-right: 10px;
        }
    }
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    padding: 0 10px;
    background: $white;
    font-family: $mainfont;
    border: 1px solid $white2;
}

textarea {
    height: auto;
    max-width: 500px;
    margin-right: 10px;
    resize: none;
    padding: 10px;
}
//radio
input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -99;
    cursor: pointer;

    &:checked ~ .custom-radio:after {
        display: block;
    }
}

.is-radio {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    width: calc(50% - 10px);
    min-height: 30px;
    user-select: none;
    margin: 10px 0 20px 0;
    font-family: $mainfont;

    .custom-radio {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        top: 0;
        left: 0;
        margin-left: 0;
        height: 25px;
        width: 25px;
        background-color: $white2;
        border-radius: 100%;

        &::after {
            position: absolute;
            display: none;
            width: 15px;
            height: 15px;
            background: $secondarycolor;
            border-radius: 100%;
            content: "";
        }
    }

    .gender {
        cursor: pointer;
        padding-left: 40px;
    }
}


//checkbox
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -99;
    cursor: pointer;

    &:checked ~ .custom-checkbox:after {
        display: flex;
        align-items:center;
        justify-content:center;
    }
}

.is-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    width: calc(50% - 10px);
    min-height: 30px;
    user-select: none;
    margin: 10px 0 20px 0;
    font-family: $mainfont;

    .custom-checkbox {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        margin-left: 0;
        height: 25px;
        width: 25px;
        background-color: $white2;
        cursor:pointer;

        &::after {
            position: absolute;
            display: none;
            width: 9px;
            top: 2px;
            height: 14px;
            border: solid $secondarycolor;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
            content: "";
        }
    }

    label {
        padding-left: 40px;
        display: flex;
        font-size: 1.4rem;
        align-items: center;
    }

    input {
        margin: 0;
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}

// checkfields
.checkfield {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $white2;

    textarea {
        height: 0;
        padding: 0 10px;
        border: transparent;
        transition: all .4s;
    }

    &.open {
        textarea {
            height: 100px;
            padding: 10px;
            border: 1px solid $white2;
            transition: all .4s;
        }
    }
}
