.hero {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 0;
    z-index: 1;
    background-image: url(https://picsum.photos/1920/500);
    background-position: left;
    background-size: cover;
    height: 550px;
    color: white;

    &::after {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        z-index: -1;
        left: 0;
        background: rgba(0,0,0,0.3);
        content: "";
    }

    @include media-breakpoint-up('md') {

        .h1 {
            font-size: 7rem;
            line-height: 6rem;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        .h3{
            font-size:3.4rem;
        }
    }
}
