.intake {
    .intake-wrapper {
        padding-top: 40px;
    }

    .intake-form {
        max-width: 550px;

        .h1 {
            margin-top: 0;
        }
    }

    aside {
        display: none;
    }

    .intake-content {
        max-width: 550px;

        p {
            margin-top: 0;
            font-size: 1.8rem;
        }
    }

    @include media-breakpoint-up('lg') {
        padding-top: 200px;

        .intake-wrapper {
            display:flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
        }

        aside {
            display: block;
            width: 40%;
        }

        .intake-form {
            width: 60%;
        }
    }
}
