.login {
    padding-top: 40px;

    .auth-wrapper {
        display: flex;
        justify-content: space-around;

        .login-wrapper,
        .register-wrapper {
            background: $white2;
            padding: 15px;
            width: 50%;
            margin-top:30px;
            .h2 {
                font-size: 3rem;
                margin-bottom:10px;
            }
        }

        .login-wrapper {
            margin-right: 50px;

            .login-form {
                max-width: 300px;

                a{
                    padding:10px 0;
                    text-decoration:underline;
                }
            }
        }

        .register-wrapper {
            margin-left: 50px;

            a{
                display:inline-block;
            }
        }
    }

    @include media-breakpoint-up('md') {
        padding-top:200px;
    }
}
