.navigation {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    z-index: 999;
    background: $white2;
    margin-bottom:100px;

    > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .navitems {
        position: fixed;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0;
        left: -100%;
        height: 100%;
        width: 50vw;
        background: $white;
        transition: all .4s;

        a {
            color: $fontcolor;
        }

        > div {
            width: 100%;
            border-bottom: 1px solid $primarycolor;

            .socialmedia-items {
                position: relative;
                top: 0;
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 10px 0;

                @include media-breakpoint-up('md') {
                    display: none;
                }

                @include media-breakpoint-up('xl') {
                    display: flex;
                    align-items: center;
                }

                li {
                    &:first-child {
                        margin-right: 10px;
                    }

                    a {
                        color: $secondarycolor;
                        font-size: 1.8rem;
                    }
                }
            }

            .contact-items {
                position: relative;
                max-width: 100%;
                display: block;
                margin: 20px auto;
                padding: 0 15px;

                li {
                    padding-bottom: 5px;

                    a {
                        display: flex;
                        flex-wrap: wrap;

                        i {
                            color: $secondarycolor;
                        }

                        span {
                            font-size: 1.4rem;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }

        .menuitems {
            border-bottom: 0;
            padding-top: 30px;
            text-transform: uppercase;
            font-weight: 600;

            ul {
                padding-left: 15px;

                li {
                    padding-bottom: 15px;

                    a {
                        font-size: 1.8rem;
                    }
                }
            }
        }

        &.open {
            left: 0;
            opacity: 1;
            transition: all .4s;
            z-index:-1;

            &::before {
                position: fixed;
                content: "";
                background: inherit;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: -99;
                filter: blur(250px);
            }
        }
    }

    .navinteraction {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .user-items {
            padding-right: 20px;

            &.is-dropdown {
                position: relative;
                cursor: pointer;
                height: 100%;

                .user-name {
                    display: flex;
                    align-items: center;
                    font-family: $specialfont;
                    margin-right: 30px;

                    i {

                        &.fa-user {
                            font-size: 2rem;
                            color: $fontcolor;
                            margin-right: 10px;
                        }

                        &.fa-chevron-down {
                            position: relative;
                            top: 2px;
                            padding-left: 2px;
                            font-size: 1.2rem;
                            color: $secondarycolor;
                        }
                    }
                }

                .dropdown-content {
                    position: absolute;
                    top: 20px;
                    z-index: 9999;
                    overflow: hidden;
                    background: $white2;
                    color: $fontcolor;
                    max-width: 300px;
                    max-height: 0;
                    padding: 0 10px;

                    > div {
                        padding: 5px 0;
                    }
                }

                &:hover {

                    .dropdown-content {
                        max-height: 500px;
                        padding: 10px;
                    }
                }
            }
        }

        .is-cart {
            display: flex;
            justify-content: center;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            align-items: center;
            padding: 0;
        }
    }

    @include media-breakpoint-up('lg') {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navitems {
            position: static;
            background: transparent;
            flex-direction: row;
            width: 100%;
            opacity: 1;

            a {
                color: $fontcolor;
            }

            > div {
                display: flex;
                width: auto;
                border-bottom: 0;

                .socialmedia-items {
                    padding-left: 20px;

                    &::after {
                        content: "";
                        background: $fontcolor;
                        height: 30px;
                        width: 1px;
                        transform: rotate(10deg);
                        display: block;
                        margin-left: 30px;
                    }

                    &::before {
                        content: "";
                        background: $fontcolor;
                        height: 30px;
                        width: 1px;
                        transform: rotate(10deg);
                        display: block;
                        margin-right: 30px;
                    }
                }

                .contact-items {
                    display: none;
                }
            }

            .menuitems {
                padding: 0;
                margin: 0 auto;

                ul {
                    display: flex;
                    padding: 0;
                    margin: 0;

                    li {
                        padding-right: 20px;
                        padding-bottom: 0;

                        a {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }

    .contact-bar {
        position: fixed;
        display: none;
        top: 60px;
        width: 100%;
        font-family: $mainfont;
        color: $fontcolor;
        padding: 15px 0;
        background: white;
        font-weight: 900;
        border-bottom: 1px solid $white2;

        > .container {
            display: flex;
            width: 100%;
        }

        .personal-contact, .company-contact {
            display: flex;
            border-right: 1px solid $primarycolor;
            margin-right: 50px;
        }

        .company-contact {
            border: none;
            display: none;
        }

        .contact-item {
            padding-right: 20px;
        }

        a, span {
            margin-left: 10px;
            color: $fontcolor;
        }

        @include media-breakpoint-up('lg') {
            display: block;
            top: 80px;
        }

        @include media-breakpoint-up('xl') {

            .company-contact {
                display: flex;
            }
        }
    }

    @media (min-width: 1450px) {
        > .container {
            width: 80%;
        }

        .contact-bar {
            > .container {
                width: 80%;
            }
        }
    }

    &.collapsed {
        .contact-bar {
            display: none;
        }
    }
}
