

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0 20px;
    @include media-breakpoint-up('xl') {
        flex-wrap: nowrap;
    }
}

.product {
    position: relative;
    background-position: center;
    background-size: cover;
    color: black;
    width: 100%;
    height: 500px;
    z-index: 1;
    margin-bottom: 20px;
    cursor: pointer;

    .h2{
        margin:0;
    }
    p{
        margin-top:0;
        padding-right:20px;
    }

    .product-price {
        position: absolute;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -20px;
        right: -20px;
        font-size: 2.4rem;
        font-weight: bold;
        color: white;
        font-family: $specialfont;
        background: gray;
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }

    .product-information {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        padding:20px;
        width: calc(100% - 20px);
        transition: all .2s;
        background: rgba(255,255,255,0.8);
        height: 20%;

        &::after {
            position: absolute;
            bottom: -1px;
            right: 20px;
            transform: translate(-50%, 0);
            width: 0;
            height: 0;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-bottom: 30px solid white;
            content: "";
        }
    }


    ul {
        padding-top: 55px;
        padding-bottom: 20px;

        li {
            margin-bottom: 15px;
            font-size: 1.4rem;
            font-family: $mainfont;
            font-weight: bold;

            &::before {
                font-family: fontAwesome;
                content: "\f046";
                padding-right: 10px;
                color: $secondarycolor;
            }
        }
    }

    a {
        display: inline-block;
        margin-bottom: 20px;

        i {
            padding-right: 5px;
        }
    }


    &:hover {
        .product-information {
            cursor: pointer;
            height: 100%;
            transition: all .2s;

            .h2 {
                margin-top:20px;
                padding-top: 20px;
            }
        }
    }

    @include media-breakpoint-up('md') {
        margin: 0 40px;
        .h2 {
            font-size: 2.4rem;
        }
        p{
            padding-right:40px;
        }

        .product-information {
            width: 100%;

            ul{
                li{
                    font-size:1.8rem;
                }
            }
            &::after {
                left: 50%;
            }
        }
    }
     @include media-breakpoint-up('lg') {
         max-width:calc(100% / 3);
     }
}
