.profile {
    padding-top: 150px;

    .h1{
        margin-bottom: 30px;
    }
    .user-info {

        div{
            padding-bottom:10px;
        }
        .h5 {
            display: block;
            font-family: $specialfont;
        }

        span {
            font-family: $mainfont;
        }
    }
}
