.register {
    padding-top: 150px;

    .h1 {
        margin-bottom: 0;
    }

    .register-content {
        padding-bottom: 20px;

        p {
            font-size: 1.6rem;
            line-height: 2.5rem;
        }

        @include media-breakpoint-up('xl') {
            max-width: 80%;
        }
    }
}

.register-form {
    max-width: 550px;
    b{
        font-family:$specialfont;
    }
}
