.usp {
    border-top:1px solid $white2;
    background:$white;
    .usp-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .usp-image {
            width: 150px;
            height: 150px;
            border: 1px solid $fontcolor;
            border-radius: 100%;
            padding: 15px;
        }

        img {
            display: block;
            max-width: 100%;
            border-radius: 100%;
        }

        p {
            line-height: 2.5rem;
            color: $fontcolor;
        }
    }

    @include media-breakpoint-up('md') {
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap;

        .usp-item {
            max-width: 25%;
            padding: 0 30px;
        }
    }
}
