html {
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    padding: 0;
}

ul{
    padding:0;
    list-style:none;
}

a{
    text-decoration:none;
}
.container {
    margin: 0 auto;
    padding:0 15px;
    @include media-breakpoint-up('xl') {
        width: 60%;
    }
}

.big-container {
    margin: 0 auto;
    padding: 0 15px;

    @media (min-width: 1600px) {
        width: 80%;
    }
}

.content{
    p{
        font-size:1.8rem;
    }
}
section{
    padding:80px 0;
}

.img-responsive{
    display:block;
    max-width:100%;
    height:auto;
}

.is-desktop {
    display: none;

    @include media-breakpoint-up('md') {
        display: block;
    }
}

.is-mobile {
    display: block;

    @include media-breakpoint-up('md') {
        display: none;
    }
}
