@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Viga');

.h1, .h2, .h3, .h4, .h5 {
    font-family: $specialfont;
    font-weight:800;
}

.h1{
    font-size:4rem;
    margin-bottom:0;
}

p, ul, a  {
    font-family: $mainfont;
}

a {
    color: black;

    &:hover {
        opacity:.7;
    }
}
