[viewBag]
==
<footer>
    <div class="big-container">
        <div class="contact-form">
            <h3 class="h2">Snel contact</h3>
            {% partial 'forms/contact' %}
        </div>
        <div class="socialmedia">
            <h3 class="h2">Volg mij op socialmedia</h3>
            <ul>
                <li>
                    <a href="#">
                        <i aria-hidden="false" class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i aria-hidden="false" class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="logo">
            <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="Alternate Text" />
        </div>
    </div>
    <section class="end">
        <div class="container">
            <ul>
                <li>
                    Algemene voorwaarden
                </li>
                <li>
                    Privacy
                </li>
                <li>
                    Disclaimer
                </li>
            </ul>
            <ul>
                Copyright &copy; {{ "now"|date("Y") }}
            </ul>
        </div>
    </section>
</footer>
