[viewBag]

[staticMenu]
code = "navigation"
==
<header class="navigation">
    <div class="container">
        <div class="logo">
            <img src="#" alt="logo" />
        </div>
        <nav class="navitems">
            <div>
                <ul class="socialmedia-items">
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                </ul>
                <ul class="contact-items">
                    <li>
                        <a href="#">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <span>bart.roelofse@live.nl</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>06-12345678</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menuitems">
                {% component 'staticMenu' %}
            </div>
        </nav>
        <div class="navinteraction">
            {% if user %}
            <div class="user-items is-dropdown">
                <span class="user-name">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>
                        {{user.name}}
                    </span>
                    <i class="fa fa-chevron-down" aria-hidden="false"></i>
                </span>
                <div class="dropdown-content">
                    <div>
                        <a href="{{"profiel"|page}}">Profiel</a>
                    </div>
                    <div>
                        <a href="#">Bestellingen</a>
                    </div>
                    <div>
                        <a href="#" data-request="onLogout">Uitloggen</a>
                    </div>
                </div>
            </div>
            
            {% else %}
            <div class="user-items">
                <a href="{{"inloggen"|page}}" class="btn btn-primary">Inloggen</a>
            </div>
            {% endif %}
            <div class="menutoggle">
                   <span class="">dropdown</span>
            </div>
        </div>
    </div>
    <div class="contact-bar">
        <div class="container">
            <div class="personal-contact">
                <div class="contact-item">
                    <i class="fa fa-phone"></i>
                    <a href="tel:">06-123 45 678</a>
                </div>
                <div class="contact-item">
                    <i class="fa fa-envelope-o"></i>
                    <a href="mailto:bart.roelofse@live.nl">bart.roelofse@live.nl</a>
                </div>
            </div>
            <div class="company-contact">
                <div class="contact-item">
                    <i class="fa fa-location-arrow"></i>
                    <span>straatlocatie 24</span>
                </div>
                <div class="contact-item">
                    <i class="fa fa-home"></i>
                    <span>Velp, 1234 AB</span>
                </div>
                <!--
    <div class="contact-item">
        <i class="fa fa-building-o"></i>
        <span>KVK 123456789</span>
    </div>
    <div class="contact-item">
        <i class="fa fa-briefcase"></i>
        <span>BTWNL3232323</span>
    </div>
        -->
            </div>
        </div>
    </div>
</header>
