<section class="product-showcase">
    <div class="products">
        {% for product in products %}
        <div class="product" style="background-image: url({{product.image.thumb(auto,auto, {mode: 'auto', quality:100})}});">
            <div class="product-price">
                <span>&euro; {{product.price - 0.01}}</span>
            </div>
            <div class="product-information">
                <h2 class="h2">
                    {{product.name}}
                </h2>
                <p class="is-desktop">
                    {{html_limit(product.product_description, 120)}}
                    <span>...</span>
                </p>
                <p class="is-mobile">
                    {{html_limit(product.product_description, 60)}}
                    <span>...</span>
                </p>
                <ul>
                    {% for properties in product.product_properties %}
                    <li>{{properties.product_property}}</li>
                    {% endfor %}
                </ul>
                <a href="{{product.slug}}" class="btn btn-primary">
                    <i class="fa fa-eye"></i>
                    Bekijk
                </a>

            </div>
        </div>
        {% endfor %}
    </div>
</section>
