title = "about"
url = "/about"
layout = "default"
is_hidden = 0
==

<section class="about">
    <div class="big-container">
        <div class="about-info">
            <div>
                <h1 class="h1">Over Bart Roelofse</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique pharetra ipsum. Vestibulum tincidunt, urna at elementum ullamcorper, quam nisl aliquet lacus, sit amet rutrum ante orci a metus. Sed tincidunt eleifend pharetra. Mauris porta imperdiet elit ac ultrices. Morbi diam elit, tempor a nibh id, sollicitudin interdum libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis a magna vitae odio suscipit convallis quis eu est. Duis et orci tincidunt augue cursus cursus quis at orci. Mauris a fermentum elit, sit amet finibus augue. Pellentesque in mi nulla.
                </p>
            </div>
            <div>
                <img src="https://via.placeholder.com/350x500">
            </div>
        </div>
    </div>
</section>
