title = "contact"
url = "/contact"
layout = "default"
is_hidden = 0

[googleMap]
latitude = 51.506767
longitude = -0.122205
zoom = 12
width = "100%"
height = "350px"
mapTypeId = "ROADMAP"
showMarker = "true"
apiKey = "AIzaSyAPpOl6ogsPs3zmOrYTXT3ZvU1yO_HVZsQ"
==
<section class="contact">
    {% component 'googleMap' %}
    <div class="container">
        <h1 class="h1">Contact</h1>
        <div class="contact-data">
            <div>
                <h3 class="h3">Persoonlijke contactgegevens</h3>
                <ul>
                    <li>
                        <a href="tel:">
                            <i class="fa fa-phone"></i>
                            06-123 45 678
                        </a>
                    </li>
                    <li>
                        <a href="mailto:">
                            <i class="fa fa-envelope-o"></i>
                            bart.roelofse@live.nl
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="h3">Zakelijke gegevens</h3>
                <ul>
                    <li>
                        <i class="fa fa-phone"></i>
                        KVK212323443
                    </li>
                    <li>
                        <i class="fa fa-envelope-o"></i>
                        BTW425453
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="h3">Adres gegevens</h3>
                <ul>
                    <li>
                        <i class="fa fa-location-arrow"></i>
                        straatlocatie 24
                    </li>
                    <li>
                        <i class="fa fa-home"></i>
                        Velp, 1234 AB
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
