title = "inloggen"
url = "/inloggen"
layout = "default"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0
==
<section class="login">
    <div class="container">
        <h1 class="h1">Inloggen / registreren</h1>
        <div class="auth-wrapper">
            <div class="login-wrapper">
                <h3 class="h2">Inloggen</h3>
                {% partial 'forms/login' %}
            </div>
            <div class="register-wrapper">
                <div>
                    <h3 class="h2">Registreren</h3>
                    <p>Nog geen account? Registreer u gratis.</p>
                </div>
                <div class="button-wrapper">
                    <a href="{{"registreren"|page}}" class="btn btn-secondary">
                        Registreren
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>