title = "intake"
url = "/intake"
layout = "default"
is_hidden = 0
==

<section class="intake">
    <div class="big-container">
        <div class="intake-wrapper">
            {% partial 'forms/intake' %}
            {% partial 'intake/aside' %}
        </div>
    </div>
</section>
