title = "product"
url = "/:product"
layout = "default"
is_hidden = 0

[ProductDetail]
==
<section class="productdetails">
    <div class="container">
        {% if product %}
        <ul>
            <li class="h5">{{product.name}}</li>
            <li>{{product.price - 0.01}}</li>
            <li>{{product.product_description}}</li>
            <li>{{product.product_eigenschappen}}</li>
        </ul>
        <div>
            <a href="{{"intake"|page}}" class="btn btn-primary">
                <span>Bestellen</span>
            </a>
        </div>
        {% endif %}
    </div>
</section>
