title = "profiel"
url = "/mijn-account"
layout = "default"
is_hidden = 0
==
<section class="profile">
    <div class="container">
        <div>
            <h1 class="h1">Mijn profiel</h1>
            <div class="user-info">
                <div>
                    <span class="h5">Volledige naam:</span>
                    <span>{{user.name}}</span>
                </div>
                <div>
                    <span class="h5">Emailadres:</span>
                    <span>{{user.email}}</span>
                </div>
                <div>
                    <span class="h5">Geboortedatum:</span>
                    <span>{{user.dateofbirth}}</span>
                </div>
                <div>
                    <span class="h5">Telefoonnummer:</span>
                    <span>{{user.phonenumber}}</span>
                </div>
                <h3 class="h3">Medische informatie:</h3>
                <div>
                    <span class="h5">Gewicht:</span>
                    <span>{{user.weight}}kg</span>
                </div>
                <div>
                    <span class="h5">Lengte:</span>
                    <span>{{user.height}}cm</span>
                </div>
                <div>
                    <span class="h5">Allergieen:</span>
                    <span>{{user.allergics}}cm</span>
                </div>
                <div>
                    <span class="h5">Heeft u blessures?</span>
                    <span>{{user.injuries}}cm</span>
                </div>
                <div>
                    <span class="h5">Bent u in behandeling?</span>
                    <span>{{user.treatment}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
