title = "registreren"
url = "/registreren"
layout = "default"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0

[UserRegister]
==
<section class="register">
    <div class="container">
        {% partial 'register/content' %}
        {% partial 'forms/register' %}
    </div>
</section>