<div class="register-content">
    <h2 class="h1">Waarom een account?</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non tristique enim. Nam at semper tellus. Nunc imperdiet ipsum odio, vel consectetur nibh molestie non. Pellentesque fringilla velit ut leo eleifend lacinia. Nulla facilisi. Sed ac feugiat ante. Nunc at efficitur tellus. Phasellus interdum consectetur tortor quis vehicula. Vivamus nec lobortis ligula, id laoreet sem. Nam ante est, dignissim vitae sem a, feugiat porttitor libero. Aliquam erat volutpat.
    </p>
</div>
