<aside class="sideinformation">
    <div class="sideinformation-wrapper">
        <h2 class="h3">Of maak meteen een account aan</h2>
        <div class="make-account-container">
            <p>
                Met een account slaan wij uw gegevens per direct op en kunt u deze blijven gebruiken zonder ze telkens weer opnieuw in te moeten vullen
            </p>
            <div class="btn-group">
                <a href="{{"registreren"|page}}" class="btn btn-primary">
                    Registreren
                </a>
                <a href="{{"inloggen"|page}}">
                    Inloggen
                </a>
            </div>
        </div>
    </div>
</aside>
