<section class="content">
    <div class="big-container">
        <h2 class="h1">Vertel wat over je producten hier Bart...</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque eros eget elit ornare, nec finibus nisl eleifend. Donec luctus scelerisque dolor, porttitor pulvinar justo feugiat vitae. Sed porttitor sem sed mollis faucibus. Nulla eget elit dui. Fusce molestie quam quis enim ultrices, eget vestibulum velit imperdiet. Sed porttitor dolor efficitur augue rutrum ultrices. Proin in diam consectetur, ultrices velit quis, fringilla ante. Integer hendrerit nisi sed arcu varius mollis.
        </p>
        <div class="btn-group">
            <a href="#" class="btn btn-primary">
                Bekijk producten
            </a>
            <a href="#" class="btn btn-secondary">
                Contact opnemen
            </a>
        </div>
    </div>
</section>
