<section>
    <div class="container">
        <div class="two-sided-content">
            <div class="content-block">
                <h3 class="h2">Vertel hier wat over jezelf</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque eros eget elit ornare, nec finibus nisl eleifend. Donec luctus scelerisque dolor, porttitor pulvinar justo feugiat vitae. Sed porttitor sem sed mollis faucibus. Nulla eget elit dui. Fusce molestie quam quis enim ultrices, eget vestibulum velit imperdiet. Sed porttitor dolor efficitur augue rutrum ultrices. Proin in diam consectetur, ultrices velit quis, fringilla ante. Integer hendrerit nisi sed arcu varius mollis.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque eros eget elit ornare, nec finibus nisl eleifend. Donec luctus scelerisque dolor, porttitor pulvinar justo feugiat vitae. Sed porttitor sem sed mollis faucibus. Nulla eget elit dui. Fusce molestie quam quis enim ultrices, eget vestibulum velit imperdiet. Sed porttitor dolor efficitur augue rutrum ultrices. Proin in diam consectetur, ultrices velit quis, fringilla ante. Integer hendrerit nisi sed arcu varius mollis.
                </p>
                <div class="button-wrapper">
                    <a href="#" class="btn btn-primary">
                        Meer over mij
                        <i aria-hidden="true" class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="content-image">
                <img class="img-responsive" src="{{"assets/images/bart.jpeg"|theme}}" alt="Bart" />
            </div>
        </div>
    </div>
</section>
