<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1 class="h1">Bart Roelofse <br /> Personal <br />training</h1>
            <span class="h3">Training op maat.</span>
        </div>
    </div>
</section>
