<section class="usp">
    <div class="usp-item">
        <div class="usp-image">
            <img src="{{"assets/images/dumbell.jpg"|theme}}" alt="uspitem" />
        </div>
        <div class="usp-item-content">
            <p>
                <b>1.</b> kies een schema die jij wilt.
            </p>
        </div>
    </div>
    <div class="usp-item">
        <div class="usp-image">
            <img src="{{"assets/images/arm.png"|theme}}" alt="uspitem" />
        </div>
        <div class="usp-item-content">
            <p>
                <b>2.</b> vul je gegevens in, in mijn intakeformulier.
            </p>
        </div>
    </div>
    <div class="usp-item">
        <div class="usp-image">
            <img src="{{"assets/images/dumbell.jpg"|theme}}" alt="uspitem" />
        </div>
        <div class="usp-item-content">
            <p>
                <b>3.</b> Betaal uw voedingsschema simpelweg met IDeal.
            </p>
        </div>
    </div>
    <div class="usp-item">
        <div class="usp-image">
            <img src="{{"assets/images/dumbell.jpg"|theme}}" alt="uspitem" />
        </div>
        <div class="usp-item-content">
            <p>
                <b>4.</b> Krijg dit op maat gemaakte voedingsschema binnen 7 dagen in uw mailbox.
            </p>
        </div>
    </div>
    <div class="usp-item">
        <div class="usp-image">
            <img src="{{"assets/images/arm.png"|theme}}" alt="uspitem" />
        </div>
        <div class="usp-item-content">
            <p>
                <b>5.</b> Nog vragen over het schema? Neem contact op.
            </p>
        </div>
    </div>
</section>
