<form method="post" role="form"
      data-request="onContact"
      data-request-validate
      data-request-flash>
    <div class="input-wrapper">
        <input type="text" name="fullname" autocomplete="off" placeholder="Volledige naam" />
    </div>
    <div class="input-wrapper">
        <input type="email" name="email" autocomplete="off" placeholder="E-mailadres" />
        <input type="tel" name="phonenumber" autocomplete="off" placeholder="Telefoonnummer" />
    </div>
    <div class="input-wrapper">
        <textarea rows="4" placeholder="uw vraag"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">
        Inloggen
    </button>
</form>
