<form method="POST" role="form"
      class="intake-form"
      data-request="onIntake"
      data-request-flash
      data-request-validate>
    <div class="intake-content">
        <h1 class="h1">Vul uw informatie in.</h1>
        <p>Met deze informatie kan ik het voedingsschema die ik u lever op maat aanpassen waardoor u uw doel binnen de kortste tijd bereikt</p>
    </div>
    <div class="form-wrapper">
        <div class="form-general-information">
            <div class="input-wrapper">
                <input type="text" name="fullname" placeholder="Volledige naam" />
            </div>

            <div class="input-wrapper">
                <input type="tel" name="phonenumber" placeholder="Telefoonnummer" />
                <input type="email" name="email" placeholder="E-mailadres" />
            </div>

            <div class="input-wrapper">
                <div class="is-radio">
                    <label>
                        <input type="radio" name="gender" value="man" />
                        <span class="custom-radio"></span>
                        <span class="gender">Man</span>
                    </label>
                </div>
                <div class="is-radio">
                    <label>
                        <input type="radio" name="gender" value="vrouw" />
                        <span class="custom-radio"></span>
                        <span class="gender"> Vrouw</span>
                    </label>
                </div>
            </div>

            <div class="input-wrapper">
                <input type="text" class="datepicker" name="dateofbirth" placeholder="M / D / J" />
            </div>

            <div class="input-wrapper">
                <input type="text" name="length" placeholder="Lengte in centimeters" />
            </div>

            <div class="input-wrapper">
                <input type="text" name="weight" placeholder="Gewicht" />
            </div>
        </div>
        <div class="form-optional-information">
            <div class="checkfield">
                <div class="input-wrapper is-checkbox">
                    <label>
                        <input type="checkbox" class="check_allergics" name="allergicboolean" />
                        <span class="custom-checkbox"></span>
                        <span>Zijn er allegrieen?</span>
                    </label>
                </div>
                <div class="input-wrapper is-check-field">
                    <textarea type="text" name="allergics" rows="6" placeholder="Voer allgerieen in"></textarea>
                </div>
            </div>
            <div class="checkfield">
                <div class="input-wrapper is-checkbox">
                    <label>
                        <input type="checkbox" name="medicalcheck" />
                        <span class="custom-checkbox"></span>
                        <span>Bent U in behandeling bij een arts?</span>
                    </label>
                </div>
                <div class="input-wrapper is-check-field">
                    <textarea type="text" name="medicalinformation" rows="6" placeholder="Waarvoor?"></textarea>
                </div>
            </div>
            <div class="checkfield">
                <div class="input-wrapper is-checkbox">
                    <label>
                        <input type="checkbox" name="injurycheck" />
                        <span class="custom-checkbox"></span>
                        <span>Heeft u blessures?</span>
                    </label>
                </div>
                <div class="input-wrapper is-check-field">
                    <textarea type="text" name="medicalinformation" rows="6" placeholder="Omschrijf uw blessure"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="button-wrap">
        <button type="submit" class="btn btn-primary">
            Verzenden
        </button>
    </div>
</form>
