<form class="login-form" method="post" role="form"
      data-request="onSignin"
      data-request-validate>
    <div class="input-wrapper">
        <input type="email" name="email" autocomplete="off" placeholder="Emailadres" />
    </div>
    <div class="input-wrapper">
        <input type="password" name="password" autocomplete="off" placeholder="Wachtwoord" />
    </div>
    <div class="input-wrapper">
        <a href="#">Ik ben mijn wachtwoord vergeten</a>
    </div>
    <button type="submit" class="btn btn-primary">
        Inloggen
    </button>
</form>
