<form method="POST" role="form"
      class="register-form"
      data-request="onRegister"
      data-request-flash
      data-request-validate>
    <div class="form-wrapper">
        <div class="form-general-information">
            <div class="input-wrapper">
                <input type="text" name="name" placeholder="Volledige naam" />
            </div>

            <div class="input-wrapper">
                <input type="tel" name="phonenumber" placeholder="Telefoonnummer" />
                <input type="email" name="email" placeholder="E-mailadres" />
            </div>

            <div class="input-wrapper">
                <div class="is-radio">
                    <label>
                        <input type="radio" name="gender" value="man" />
                        <span class="custom-radio"></span>
                        <span class="gender">Man</span>
                    </label>
                </div>
                <div class="is-radio">
                    <label>
                        <input type="radio" name="gender" value="vrouw" />
                        <span class="custom-radio"></span>
                        <span class="gender"> Vrouw</span>
                    </label>
                </div>
            </div>
            <div class="input-wrapper">
                <input type="text" class="datepicker" name="dateofbirth" placeholder="M / D / J" />
            </div>
            <p><b>Zorg dat u een sterk wachtwoord kiest.</b></p>
            <div class="input-wrapper">
                <input type="password" name="password" placeholder="Wachtwoord" />
            </div>
            <div class="input-wrapper">
                <input type="password" name="password_repeat" placeholder="Herhaal wachtwoord" />
            </div>
        </div>
    </div>
    <div class="button-wrap">
        <button type="submit" class="btn btn-primary">
            Verzenden
        </button>
    </div>
</form>
