<section class="schemas-info">
    <div class="big-container">
        <h1 class="h1">Mijn schema's</h1>
        <p>
            Vertel iets kort over de schema's Bart
        </p>
    </div>
</section>
