[session]
security = "all"
==
<!DOCTYPE html>
<html lang="nl-NL">
    {% partial 'config/head' %}
    
    <body>
        {% partial 'config/page' %}
        {% partial 'config/scripts' %}
    </body>
</html>